<!DOCTYPE html>
{% load static %}
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Img to Pdf</title>
    <link rel="stylesheet" href="{% static 'main/Untitled-2.css' %}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if request.user.is_authenticated %}
        <link rel="icon" href="https://cdn3d.iconscout.com/3d/premium/thumb/png-4765633-3975913.png">
    {% else %}
        <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/337/337940.png">
    {% endif %}
    <script src="{% static 'main/script.js' %}"></script>
<script src="https://sweetalert.js.org/assets/sweetalert/sweetalert.min.js"></script>
<link href='{% static 'main/MENU.css' %}' rel="stylesheet" type="text/css">
    <script src="https://sweetalert.js.org/assets/js/index.js">
</script>
<script>
</script>
<style>
::-webkit-scrollbar {
       width: 20px;
}
::-webkit-scrollbar {
 width: 10px;
}
::-webkit-scrollbar-track {
 background: #00cc99;
 border-radius: 50px;
}
::-webkit-scrollbar-thumb {
 background: #00ff40;
 border-radius: 50px;
}
</style>
</head>

<body>
    <input type="checkbox" id="navi-toggle" class="checkbox" />
    <label for="navi-toggle" class="button">
      <span class="icon">&nbsp;</span>
    </label>
    <div class="background">&nbsp;</div>
  
    <!-- nav -->
    <nav class="nav">
      <ul class="list">
        <li class="item"> <a class="link"><icon><img  class="icon" src="house.png"/></icon></a> </li>
        <li class="item"> <a class="link" href="{% url 'index' %}"> Home </a> </li>
        <li class="item">  <a class="link" href="{% url 'tools' %}"> Tools </a> </li>
        <li class="item"> <a class="link" href=""> about </a> </li>
        <li class="item"> <a class="link" href="{% url 'login1' %}"> login </a> </li>
      </ul>
    </nav >
<div class="dynamic-shadow">
</br>
</br>
</br>
<div class="sc-1ttxsn1-0fxCLCz" ><div class="sc-1ttxsn1-1 hvHwmD"><div class="sc-17y9jfw-1 lpeKGy"><div class="sc-17y9jfw-5 qNym"><div class="sc-1gyxcpm-0 csDfHB sc-17y9jfw-4 iqUd" style="width:32px;height:32px"><svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 4C0 1.79086 1.79086 0 4 0H28C30.2091 0 32 1.79086 32 4V28C32 30.2091 30.2091 32 28 32H4C1.79086 32 0 30.2091 0 28V4Z" fill="#FFB700"></path><rect x="7.5" y="7.5" width="10" height="13" stroke="white"></rect><path d="M7.5 16.5L10 14L13.5 17.5L15 16L17.5 18.5" stroke="white"></path><circle cx="15" cy="10" r="0.5" fill="white" stroke="white"></circle><path d="M18 11.5H24.5V24.5H14.5V20" stroke="white"></path></svg></div></br></br><h1 id="hover-underline-animation"> PDF إلى JPG تحويل</h1></div></br></br><h2 id="hover-underline-animation">  أفضل طريقة لتحويل صورJPG إلى ملف PDF</h2></div></div></div>
</br></br>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <div id="images"></div>
        <input type="file" id="file-input"  name="files" accept="image/png, image/jpeg" onchange="preview()" multiple required>
        <label id="button" for="file-input">
            <i class="fas fa-upload"> Upload Image</i>
        </label>
       <p id="number-of-img">No image selected yet 1</p>
    </div>  
</br>
</br>
    <button class="animated-border-button" onclick="onclick()">Submit</button>
    


    </div>
    </form>

    <noscript><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,128L48,128C96,128,192,128,288,112C384,96,480,64,576,48C672,32,768,32,864,53.3C960,75,1056,117,1152,128C1248,139,1344,117,1392,106.7L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg></noscript>
    <div class="Project">
      <!-- https://brisseaux.tumblr.com/post/91018371936 -->
      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/41810341995087.57bd505fc7b34.gif" alt="" class="imgMasked" />
      <div class="Project-hail"></div>
      <div class="Project-hail2"></div>
      <p class="Project-name">Project name </p>
    </div>
   
    <div class="ae"></div>
    <script>
let fileInput = document.getElementById("file-input");
let imageContainer = document.getElementById("images");
let numberofImage = document.getElementById("number-of-img");
let form = decument.get.getElementsByTagName("form");


function preview(){
 imageContainer.innerHTML = "";                                  
   for (i of fileInput.files){
     if(i.name.endsWith("png") || i.name.endsWith("jpg") || i.name.endsWith("jpeg") ){
       numberofImage.textContent=fileInput.files.length.toString()+'Files Selected';
        numberofImage.style.color = "black";
         let reader = new FileReader();
          let figure = document.createElement("figure");
          let figCap = document.createElement("figcaption");
         figCap.innerText = i.name;
         figure.appendChild(figCap);
         reader.onload=()=>{
               let img = document.createElement ("img");
              img.setAttribute("src", reader.result);
              figure.insertBefore(img, figCap);
         }
         imageContainer.appendChild(figure);
         reader.readAsDataURL(i);
        } 
    else{
        
    swal({
     title: "😬 اووبس",
    text: "  🆗 لقد ادخلت صيغة ملف خاطئة لمعرفة الصيغ المتوفرة يرجى الضغط على ",
    icon: "warning",
    buttons: true,
    dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    swal(":الصيغ المطلوبة ", "{.JPEJ,.JPG,.PNG} 🔴", "info");

  } else {
    
  }
});
fileInput.value = '';
  }
}}
function onclick(){
    form.reset();
    swal("done!", "تم التحويل سوف يتم تنزيل ملف pdf تلقائيا😎", "success");

}

//function myFunction(){
    //var w = window.outerWidth;
    //var h = window.outerHeight;
    //var myDiv = document.getElementsByClassName("donut");
   // myDiv.innerHTML = "";
   // myDiv.setAttribute("style","display: inline-block;border: 4px solid rgba(0, 0, 0, 0.1);border-left-color: #7983ff;border-radius: 50%;width: 30px;height: 30px;animation: donut-spin 1.2s linear infinite;align-items: center;text-align: center;  ");

</script>  
</div></div>
</body>
</html>